.testNavDiv {


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.about {
    font-family: arial;
    color: $textColor;
    height: 100vh;
    margin-top: 15vh;



    h1 {

        font: {
            family: 'Amatic SC', cursive;
            size: 50px;

        }

        text: {

            align: center;

        }

        letter-spacing: 6px;
        margin-top: 10vh;
        width: 100%;


        @media screen and (max-width: $phoneScreen) {
            font-size: 35px;
        }
    }

    p {
        margin: {
            left: 20px;
            top: 40px;
        }

        text-shadow: 3px 3px 9px black;



        font: {
            family: 'Amatic SC', cursive;
            size: 30px;
        }

        @media screen and (max-width: $phoneScreen) {
            font-size: 20px;
        }
    }

}