.testNavDiv {


    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.about {
    font-family: arial;
    color: $textColor;
    height: 80vh;
    margin-top: 15vh;
    margin-bottom: 5vh;
    overflow-y: scroll;


    h1 {

        font: {
            family: 'Amatic SC', cursive;
            size: 50px;

        }

        text: {

            align: center;

        }

        letter-spacing: 6px;
        margin-top: 10vh;
        width: 100%;


        @media screen and (max-width: $phoneScreen) {
            font-size: 35px;
        }
    }

    h5 {
        @extend h1;
        font-size: 35px;


        @media screen and (max-width: $phoneScreen) {
            font-size: 25px;
        }
    }

    p {
        margin: {
            left: 20px;
            top: 40px;
        }

        text-shadow: 3px 3px 9px black;





        font: {
            family: 'Open Sans', sans-serif;
            size: 22px;

        }

        @media screen and (max-width: $phoneScreen) {
            font-size: 20px;
        }
    }

    ul {
        @extend p;
        list-style-type: square;
        list-style-position: inside;

    }

}