.contactSection {
    @extend .iconsDiv;


    span {
        display: inline-block;
        margin: 5px 5px;
        text-align: center;


        &:hover {
            a {
                visibility: visible;

                &:hover {
                    text-shadow: 8px 4px 10px rgb(196, 39, 125);
                }
            }
        }
    }



    a {
        text-decoration: none;
        cursor: pointer;
        color: $textColor;
        font-size: 20px;
        margin: 10px o;
        visibility: hidden;

        @media only screen and (max-width: 600px) {
            font-size: 15px;
        }
    }

    img {


        height: 200px;
        width: 200px;
        margin-bottom: 20px;

        @media only screen and (max-width: 600px) {

            height: 100px;
            width: 100px;
        }
    }

    i {
        font-size: 100px;

        @media only screen and (max-width: 600px) {
            font-size: 70px;
        }

    }
}