.home { 
font-family: arial;
    color: $textColor;
    
    h1{
        font: {
            family: $h1font;
        }
    }
    
    h2 {
        
            font-family: 'Amatic SC', cursive;
        
    }
}

