.home {
    font-family: arial;
    color: $textColor;
    display: flex;
    flex-direction: row;
    justify-content: center;

    flex-wrap: wrap;
    height: 100vh;



    .name {

        width: 100%;




    }

    .links {

        width: 100%;
        margin-top: 0px;
    }




    h1 {
        font: {
            family: 'Amatic SC', cursive;
            size: 50px;

        }


        text: {

            align: center;

        }

        margin: 20% 0 5% 0;



        letter-spacing: 6px;

        @media screen and (max-width: $phoneScreen) {
            font-size: 35px;
        }


    }

    h2 {

        font: {
            size: 40px;
            family: 'Amatic SC', cursive;

        }

        @media screen and (max-width: $phoneScreen) {
            font-size: 20px;
        }

        letter-spacing: 7px;
        text-align: center;
        margin: 20px 0px;
    }

    ul {
        display: flex;
        list-style-type: none;
        margin-top: 20px;
        flex-wrap: wrap;



        li {
            flex-grow: 1;
            margin: 10px 10px;
            width: 150px;
            height: 150px;
            overflow: hidden;




            a {
                color: $textColor;

                text: {
                    decoration: none;
                    align: center;

                }

                display: block;
                padding: 1em 1em;






                font: {
                    family: 'Amatic SC', cursive;
                    size: 30px;

                }

                &:hover {
                    font-size: 35px;
                    text-shadow: 1px 1px 2px;


                }

                @media screen and (max-width: $phoneScreen) {
                    font-size: 20px;

                }
            }
        }

    }
}