.iconsDiv {
    display: flex;
    flex-grow: 1;
    height: auto;
    margin-top: 15vh;
    width: 100vw;
    justify-content: center;



    span {
        display: inline-flex;
        flex-direction: row;

    }

    i {
        font-size: 100px;
        padding: 0.5em;


    }

    h3 {
        font: {
            family: 'Amatic SC', cursive;
            size: 40px;

        }

        text: {

            align: center;

        }
    }

}