@import url("https://fonts.googleapis.com/css?family=Amatic+SC|Gruppo|Space+Mono&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow: hidden;
  color: white;
}

.testNavDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about {
  font-family: arial;
  color: white;
  height: 80vh;
  margin-top: 15vh;
  margin-bottom: 5vh;
  overflow-y: scroll;
}

.about h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  text-align: center;
  letter-spacing: 6px;
  margin-top: 10vh;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .about h1 {
    font-size: 35px;
  }
}

.about p, .about ul {
  margin-left: 20px;
  margin-top: 40px;
  text-shadow: 3px 3px 9px black;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
}

@media screen and (max-width: 320px) {
  .about p, .about ul {
    font-size: 20px;
  }
}

.about ul {
  list-style-type: square;
  list-style-position: inside;
}

.home {
  font-family: arial;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow-y: scroll;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
}

.home .name {
  width: 100%;
}

.home .links {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 5vh;
}

.home h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 50px;
  text-align: center;
  margin: 20% 0 5% 0;
  letter-spacing: 6px;
}

@media screen and (max-width: 320px) {
  .home h1 {
    font-size: 35px;
  }
}

.home h2 {
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 7px;
  text-align: center;
  margin: 20px 0px;
}

@media screen and (max-width: 320px) {
  .home h2 {
    font-size: 20px;
  }
}

.home ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin-top: 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home ul li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 10px 10px;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.home ul li a {
  color: white;
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 1em 1em;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

.home ul li a:hover {
  font-size: 35px;
  text-shadow: 1px 1px 2px;
}

@media screen and (max-width: 320px) {
  .home ul li a {
    font-size: 20px;
  }
}

.iconsDiv, .contactSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  height: auto;
  margin-top: 15vh;
  width: 100vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.iconsDiv span, .contactSection span {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.iconsDiv i, .contactSection i {
  font-size: 100px;
  padding: 0.5em;
}

.iconsDiv h3, .contactSection h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 40px;
  text-align: center;
}

.cosmicNavi {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

.cosmicNavi #container {
  width: 70px;
  height: 70px;
  position: absolute;
  top: 0%;
  left: 0%;
}

.cosmicNavi #burger {
  cursor: pointer;
  opacity: 0;
  -webkit-animation: fadein 0.2s ease 1s forwards;
          animation: fadein 0.2s ease 1s forwards;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
}

.cosmicNavi #burger .bun, .cosmicNavi #burger .filling {
  display: block;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(0deg);
          transform: translate(-50%, -50%) rotate(0deg);
  height: 10%;
  width: 70%;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: top 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  transition: top 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
  transition: top 0.4s ease 0.4s, transform 0.4s ease 0.4s;
  transition: top 0.4s ease 0.4s, transform 0.4s ease 0.4s, -webkit-transform 0.4s ease 0.4s;
}

.cosmicNavi #burger .bun:before, .cosmicNavi #burger .filling:before, .cosmicNavi #burger .bun:after, .cosmicNavi #burger .filling:after {
  content: "";
  display: block;
  height: 40%;
  background: white;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -45%);
          transform: translate(0%, -45%);
  -webkit-transition: background 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: background 0.2s ease, -webkit-box-shadow 0.2s ease;
  transition: background 0.2s ease, box-shadow 0.2s ease;
  transition: background 0.2s ease, box-shadow 0.2s ease, -webkit-box-shadow 0.2s ease;
}

.cosmicNavi #burger .bun:before, .cosmicNavi #burger .filling:before {
  left: 0;
  width: calc(-1px + 75%);
  border-radius: 10px 0px 0px 10px;
}

.cosmicNavi #burger .bun:after, .cosmicNavi #burger .filling:after {
  right: 0;
  width: calc(-1px + 25%);
}

.cosmicNavi #burger:hover .bun.top:before {
  background: #FEE;
  -webkit-box-shadow: #F00 0px 0px 10px 1px;
          box-shadow: #F00 0px 0px 10px 1px;
}

.cosmicNavi #burger:hover .bun.bottom:before {
  background: #DFF;
  -webkit-box-shadow: #0FF 0px 0px 10px 1px;
          box-shadow: #0FF 0px 0px 10px 1px;
}

.cosmicNavi #burger:hover .filling:before {
  background: #EFE;
  -webkit-box-shadow: #0F0 0px 0px 10px 1px;
          box-shadow: #0F0 0px 0px 10px 1px;
}

.cosmicNavi #burger .bun.top {
  top: 25%;
}

.cosmicNavi #burger .bun.bottom {
  top: 75%;
}

.cosmicNavi #burger .filling {
  top: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(180deg);
          transform: translate(-50%, -50%) rotate(180deg);
  -webkit-animation: green-ls-out 0.8s ease forwards;
          animation: green-ls-out 0.8s ease forwards;
}

.cosmicNavi #burger.active .bun {
  border-radius: 3px;
  top: 50%;
  -webkit-transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, -webkit-transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease;
  transition: top 0.4s ease, transform 0.4s ease, -webkit-transform 0.4s ease;
}

.cosmicNavi #burger.active .bun.top {
  -webkit-transform: translate(-50%, -50%) rotate(-225deg);
          transform: translate(-50%, -50%) rotate(-225deg);
}

.cosmicNavi #burger.active .bun.bottom {
  -webkit-transform: translate(-50%, -50%) rotate(405deg);
          transform: translate(-50%, -50%) rotate(405deg);
}

.cosmicNavi #burger.active .filling {
  -webkit-transform: translate(-50%, -50%) rotate(-90deg);
          transform: translate(-50%, -50%) rotate(-90deg);
  -webkit-animation: green-ls-in 0.8s ease forwards;
          animation: green-ls-in 0.8s ease forwards;
}

.cosmicNavi nav {
  font-family: Open Sans;
  background-color: black;
  color: white;
  position: absolute;
  -webkit-transform: translatex(-100%);
          transform: translatex(-100%);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
  top: 70px;
  width: 100px;
}

.cosmicNavi nav.show {
  -webkit-transform: translatex(0%);
          transform: translatex(0%);
}

.cosmicNavi nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cosmicNavi nav ul li {
  background: #ecfcff;
  -webkit-box-shadow: #4df 0px 0px 0px 2px;
          box-shadow: #4df 0px 0px 0px 2px;
  font-size: 1em;
  line-height: 1.25em;
  padding: 0px;
  padding-left: 0px;
  margin: 16px 0px;
  width: 0;
  border-radius: 0px 100px 100px 0px;
  -webkit-transition: width 0.2s ease, padding 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
  transition: width 0.2s ease, padding 0.2s ease, color 0.2s ease, text-shadow 0.2s ease;
}

.cosmicNavi nav ul li:hover {
  -webkit-box-shadow: #4df 0px 0px 20px 2px;
          box-shadow: #4df 0px 0px 20px 2px;
  text-shadow: #4df 0px 0px 6px, #4df 0px 0px 10px;
}

.cosmicNavi nav ul li:hover {
  width: 100%;
  padding: 0px 0px 0px 0px;
  color: black;
}

.cosmicNavi nav ul li a {
  display: block;
  text-decoration: none;
  width: 100px;
  color: inherit;
  padding-left: 16px;
}

.cosmicNavi nav ul li.green {
  background: #e6ffe6;
  -webkit-box-shadow: #0F0 0px 0px 0px 2px;
          box-shadow: #0F0 0px 0px 0px 2px;
}

.cosmicNavi nav ul li.green:hover {
  -webkit-box-shadow: #0F0 0px 0px 20px 2px;
          box-shadow: #0F0 0px 0px 20px 2px;
  text-shadow: #0F0 0px 0px 6px, #0F0 0px 0px 10px;
}

.cosmicNavi nav ul li.red {
  background: #ffe6e6;
  -webkit-box-shadow: #F00 0px 0px 0px 2px;
          box-shadow: #F00 0px 0px 0px 2px;
}

.cosmicNavi nav ul li.red:hover {
  -webkit-box-shadow: #F00 0px 0px 20px 2px;
          box-shadow: #F00 0px 0px 20px 2px;
  text-shadow: #F00 0px 0px 6px, #F00 0px 0px 10px;
}

.cosmicNavi nav ul li.purple {
  background: #fae6fa;
  -webkit-box-shadow: #c0c 0px 0px 0px 2px;
          box-shadow: #c0c 0px 0px 0px 2px;
}

.cosmicNavi nav ul li.purple:hover {
  -webkit-box-shadow: #c0c 0px 0px 20px 2px;
          box-shadow: #c0c 0px 0px 20px 2px;
  text-shadow: #c0c 0px 0px 6px, #c0c 0px 0px 10px;
}

.cosmicNavi nav ul li.yellow {
  background: #ffffe6;
  -webkit-box-shadow: #FF0 0px 0px 0px 2px;
          box-shadow: #FF0 0px 0px 0px 2px;
}

.cosmicNavi nav ul li.yellow:hover {
  -webkit-box-shadow: #FF0 0px 0px 20px 2px;
          box-shadow: #FF0 0px 0px 20px 2px;
  text-shadow: #FF0 0px 0px 6px, #FF0 0px 0px 10px;
}

@-webkit-keyframes green-ls-in {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
            transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg) translate(200%, 0%);
            transform: translate(-50%, -50%) rotate(-90deg) translate(200%, 0%);
  }
}

@keyframes green-ls-in {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
            transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg) translate(200%, 0%);
            transform: translate(-50%, -50%) rotate(-90deg) translate(200%, 0%);
  }
}

@-webkit-keyframes green-ls-out {
  0% {
    -webkit-transform: translate(-50%, -200%) rotate(-90deg);
            transform: translate(-50%, -200%) rotate(-90deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
            transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
}

@keyframes green-ls-out {
  0% {
    -webkit-transform: translate(-50%, -200%) rotate(-90deg);
            transform: translate(-50%, -200%) rotate(-90deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
            transform: translate(-50%, -50%) rotate(-90deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(180deg);
            transform: translate(-50%, -50%) rotate(180deg);
  }
}

@-webkit-keyframes fadein {
  from {
    Opacity: 0;
  }
  to {
    Opacity: 1;
  }
}

@keyframes fadein {
  from {
    Opacity: 0;
  }
  to {
    Opacity: 1;
  }
}

.contactSection span {
  display: inline-block;
  margin: 5px 5px;
  text-align: center;
}

.contactSection span:hover a {
  visibility: visible;
}

.contactSection span:hover a:hover {
  text-shadow: 8px 4px 10px #c4277d;
}

.contactSection a {
  text-decoration: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
  visibility: hidden;
}

.contactSection img {
  height: 200px;
  width: 200px;
}

body {
  background: #000;
}

.mainPage {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.mainPage::before {
  background: url("../images/sky.jpg") no-repeat center center;
  background-size: cover;
  content: "";
  width: 200%;
  height: 250%;
  position: absolute;
  -webkit-animation: spin 400s linear infinite;
          animation: spin 400s linear infinite;
  z-index: -1;
  top: -50%;
  left: -50%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*# sourceMappingURL=app.css.map */