@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Gruppo|Space+Mono&display=swap');
@import "variables";
@import 'reset';
@import 'about';
@import 'home';
@import 'stack';
@import 'projects';
@import 'navigation';
@import 'contact';

body {
    background: #000;

}


.mainPage {
    width: 100vw;
    height: 100vh;
    position: relative;

    overflow: hidden;

    &::before {
        background: url('../images/sky.jpg') no-repeat center center;
        background-size: cover;
        content: "";
        width: 200%;
        height: 250%;
        position: absolute;
        animation: spin 400s linear infinite;
        z-index: -1;
        top: -50%;
        left: -50%;


    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }
}